<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src = "../vendors/jquery-1.12.4.min.js"></script>
    <script src = "script.js"></script>
    <title>Base Page</title>
  </head>
  <body>
    <form class = "" action = "base.html" method = "post">
<input type = "text" id = "xField" placeholder = "Give us a number, precious"></input>
<button id = "add">+</button>
<button id = "subtract">-</button>
<button id = "multiply">x</button>
<button id = "divide">÷</button>
<input type = "text" id = "yField" placeholder = "Yes! Another!"></input>
<button id = "#sendButton">=</button>
    </form>

  </body>
</html>
